<div class="page-header">
    <h3>修改密码</h3>
</div>


<%= render "share/notice_message", :target => flash[:notice] %>
  <%= form_for(@staff,:url=>{:action=>"update_password"},:html=>{:id=>"form_validator",:method=>"post"}) do |f|%>
    <table class="table table-bordered">
      <input type="hidden" name="s_id" value="<%= session[:staff_id]%>"> 
        <tr>
          <td width="120px">
            旧密码
          </td>
          <td>
            <input name="oldpassword" placeholder="输入旧密码" class="span3 validate[required]" type="password">
          </td>
        </tr>

        <tr>
          <td width="120px">
            新密码
          </td>
          <td>
            <%= f.password_field :password,:placeholder=>"新密码",:id=>"password",:class=>"span3 validate[required] "%>
          </td>
        </tr>

        <tr>
          <td width="120px">
            再次输入新密码
          </td>
          <td>
            <%= f.password_field :password_confirmation,:placeholder=>"再次输入新密码",:class=>"span3 validate[required] "%>
          </td>
        </tr>
        <tr >
          <td colspan="2"  align="center">
             <%= f.submit "修改",:class=>"btn btn-primary" %>
          </td>
                
        </tr>
    </table>
  <% end %>