<%= render "share/error_message", :target => @user %>
  <table class="table table-bordered">
    <tr>
        <td width="120px">
          用户名
        </td>
        <td>
          <%= f.text_field :username,:placeholder=>"用户名",:class=>"span3 validate[required] "%>
        </td>
      </tr>

     <tr>
        <td width="120px">
          真实姓名
        </td>
        <td>
          <%= f.text_field :name,:placeholder=>"真实姓名",:class=>"span3 validate[required] "%>
        </td>
      </tr>
  </table>