<!DOCTYPE html>
<html>
  <head>
    <title>家电商场销售管理系统</title>
  </head>
  <body>
   <h1>家电商场销售管理系统</h1>
   
   <b>尊敬的用户：<%= @user.name %> 你在 <%= @acount.created_at%>申请修改密码，请单击下面的链接修改密码：</b>

   <p>链接: <a href="<%= @url|| "http://127.0.0.1:3000" %>">
       <%= @url|| "http://127.0.0.1:3000" %>
   </a>
   <span>(本链接有效期为两个小时，两小时后请重新申请！)</span> 
 </p>
  </body>
</html>