<!DOCTYPE html>
<html>
  <head>
    <title>家电商场销售管理系统</title>
  </head>
  <body>
   <h1>用户姓名：<%= @u.name%></h1>
   
   <b>欢迎加入家电商场管理系统，在这里你将会有更多的选择！</b>
   <p>网址: <a href="<%= @url|| "http://127.0.0.1:3000" %>">
       <%= @url|| "http://127.0.0.1:3000" %>
   </a> </p>
  </body>
</html>