<div class="page-header">
    <h3>销售清单</h3>
<div>
<table class="table table-bordered">
    <thead>
        <tr>
                     <th>销售单号</th>
                     <th>商品</th> 
                     <th>购买价格</th>
                     <th>数量</th>
                     <th>购买时间</th>
                     <th>状态</th>
                     <th>操作</th>

        </tr>
                 </thead>
                 <tbody id="search">
                    <%= render @sells,:locals => {:i=>0,:lay=>2} %>
                 </tbody>
               </table>